// Add any custom base CSS can go here

$img-path: "../../../../../../resources/img";
// Foundation

html {
	@apply antialiased;
	font-size: 15px;
	text-rendering: optimizeLegibility;
	@apply text-gray-400;

	@screen md {
		font-size: 18px;
	}
}

p {
	@apply py-1;
}

body {
	font-weight: 400;
	@apply font-azo;
}

// custom login form page styling
.login-action-login,
.login-action-lostpassword {
	@apply bg-gray-800 #{!important};
}

.login #nav a,
.login #backtoblog a {
	@apply text-gray-200;
}
/* purgecss end ignore */
