// Simple Accordian
/* purgecss start ignore */
.accordian {
	cursor: pointer;

	&.active {
		@apply bg-shadow-100 text-shadow-800;

		+ .accordian-pane {
			display: flex;
		}

		.pointer {
			transform: rotate(180deg);
			position: relative;
		}
	}

	.pointer {
		display: inline-block;
		font-size: 2rem;
		transition: transform 500ms;
		transform: rotate(0deg);
	}

	+ .accordian-pane {
		display: none;
	}
}

/* purgecss end ignore */
