.brand-swoosh {
	position: relative;
	&::after {
		content: "";
		width: 100%;
		top: 0px;
		border-radius: 10px;
		height: 100%;
		right: 0px;
		position: absolute;
		background-image: linear-gradient(
				440deg,
				rgba(255, 0, 0, 0) 00%,
				rgba(255, 0, 0, 0) 87%,
				rgba(56, 178, 172, 0.8) 87%,
				rgba(56, 178, 172, 0.8) 100%
			),
			// linear-gradient(8deg, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 85%, rgba(49, 151, 149, 0.9) 85%, rgba(49, 151, 149, 0.9) 100%),
				radial-gradient(
					circle at 0% 94%,
					rgba(49, 151, 149, 0.9) 0%,
					rgba(49, 151, 149, 0.9) 12%,
					rgba(255, 0, 0, 0) 12%,
					rgba(255, 0, 0, 0) 100%
				);
	}
}
.brand-swoosh-l {
	position: relative;
	&::after {
		content: "";
		width: 100%;
		top: 0px;
		border-radius: 10px;
		height: 100%;
		right: 0px;
		position: absolute;
		background-image: linear-gradient(
				444deg,
				rgba(56, 178, 172, 0.8) 0%,
				rgba(56, 178, 172, 0.8) 22%,
				rgba(255, 0, 0, 0) 22%,
				rgba(255, 0, 0, 0) 100%
			),
			linear-gradient(8deg, rgba(49, 151, 149, 0.9) 0%, rgba(49, 151, 149, 0.9) 18%, rgba(255, 0, 0, 0) 18%, rgba(255, 0, 0, 0) 100%),
			radial-gradient(
				circle at 105% 20%,
				rgba(49, 151, 149, 0.9) 0%,
				rgba(49, 151, 149, 0.9) 12%,
				rgba(255, 0, 0, 0) 12%,
				rgba(255, 0, 0, 0) 100%
			);
	}
}

.footer,
#request-callback {
	background-image: radial-gradient(
			circle at 85% 1%,
			hsla(190, 0%, 93%, 0.05) 0%,
			hsla(190, 0%, 93%, 0.05) 96%,
			transparent 96%,
			transparent 100%
		),
		radial-gradient(circle at 14% 15%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 1%, transparent 1%, transparent 100%),
		radial-gradient(circle at 60% 90%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 20%, transparent 20%, transparent 100%),
		radial-gradient(circle at 79% 7%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 78%, transparent 78%, transparent 100%),
		radial-gradient(circle at 55% 65%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 52%, transparent 52%, transparent 100%),
		linear-gradient(92deg, hsl(220, 26%, 14%), hsl(218, 23%, 23%));
}
