//buttons
.primary-btn {
	@apply items-center px-5 shadow-sm py-4 leading-none text-base text-gray-100 rounded-md transition duration-500 ease-in-out;

	&:hover {
		@apply shadow-xl;
	}
}

.primary-btn-sm {
	@apply items-center px-3 shadow-sm py-2 leading-none text-sm text-gray-100 rounded-md transition duration-500 ease-in-out;

	&:hover {
		@apply shadow-xl;
	}
}

.secondary-btn {
	@apply items-center font-bold pr-3 py-2 text-lg uppercase leading-none text-teal-500 transition duration-200 ease-in bg-mellow-700;
	background-image: linear-gradient(
		-75deg,
		transparent 0,
		transparent 5%,
		rgb(255, 255, 255, 0.5) 5%,
		rgb(255, 255, 255, 0.5) 13%,
		transparent 13%,
		transparent 100%
	);
	background-size: 200% 100%;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	transition: 1s;

	&:hover {
		@apply text-mellow-500 underline;
		background-position: -120% 0;
	}
}

.tertiary-btn {
	@apply items-center px-5 py-4 leading-5 text-sm text-gray-100 rounded-md bg-gray-700 shadow-sm transition duration-500 ease-in-out;

	&:hover {
		@apply bg-gray-700 shadow-xl;
	}
}

//links
.primary-link {
	@apply items-center text-base leading-none;

	&:hover {
		@apply underline;
	}
}

.secondary-link {
	@apply items-center text-base leading-none text-gray-700;

	&:hover {
		@apply text-teal-500;
	}
}

.footer-link {
	@apply items-center text-sm leading-none text-gray-500;

	&:hover {
		@apply text-gray-300;
	}
}
