// WP Forms overides
/* purgecss start ignore */

div.wpforms-container-full.custom-form-call-back .wpforms-form * {
	width: 100% #{!important};
	@screen sm {
		width: auto #{!important};
	}
}

div.wpforms-container-full.custom-form-call-back {
	margin: 10px 0 10px 0px;
	@screen md {
		margin: 10px 0 10px 25px;
	}
}

.custom-form-call-back {
	.wpforms-confirmation-container-full {
		@apply bg-success-900 border-0 #{!important};
	}
	.wpforms-field-container,
	.wpforms-submit-container {
		// width: auto !important;
		display: inline-block;
	}

	.custom-formfield {
		// width: 100% #{!important};
		display: inline-block;
		margin-right: 4px #{!important};
	}

	.primary-btn {
		@apply items-center xl:ml-4 px-5 shadow-sm py-4 leading-none text-base text-gray-100 rounded-md bg-plum-700 transition duration-500 ease-in-out border-transparent #{!important};

		&:hover {
			@apply bg-teal-500 border-transparent #{!important};
		}

		// &::after {
		// 	content: url($img-path+"/pages/icons/btn-arrow.svg");
		// 	@apply h-auto w-5 block absolute;
		// 	right: 6px;
		// 	top: 24px;
		// 	@screen md {
		// 		right: 6px;
		// 		top: 22px;
		// 	}
		// }

		@screen md {
			margin-top: -4px !important;
		}
	}
	// @screen md {
	// 	.custom-formfield {
	// 		width: 32% #{!important};
	// 	}
	// }
}
.gdpr-text label {
	@apply text-xs text-gray-600 #{!important};
}

.custom-form-contact,
.custom-form-session-booking {
	.wpforms-field-container {
		@apply mb-7 #{!important};
	}
	&.wpforms-container-full {
		@apply mt-0 #{!important};
	}
	.primary-btn {
		@apply items-center px-5 shadow-sm py-4 leading-none text-base text-gray-100 rounded-md bg-teal-600 transition duration-500 ease-in-out border-transparent #{!important};

		&:hover {
			@apply bg-teal-500 border-transparent #{!important};
		}
	}

	.wpforms-field-label {
		@apply text-gray-400 font-light text-base #{!important};
	}
}

div.wpforms-container-full .wpforms-form .wpforms-field input.wpforms-error,
div.wpforms-container-full .wpforms-form .wpforms-field input.user-invalid,
div.wpforms-container-full .wpforms-form .wpforms-field textarea.wpforms-error,
div.wpforms-container-full .wpforms-form .wpforms-field textarea.user-invalid,
div.wpforms-container-full .wpforms-form .wpforms-field select.wpforms-error,
div.wpforms-container-full .wpforms-form .wpforms-field select.user-invalid,
div.wpforms-container-full .wpforms-form .wpforms-field.wpforms-has-error .choices__inner {
	@apply border-alert-400 #{!important};
}

div.wpforms-container-full .wpforms-form label.wpforms-alert,
div.wpforms-container-full .wpforms-form label.wpforms-error {
	@apply text-alert-400 py-1 text-xs #{!important};
}

div.wpforms-container-full .wpforms-form label.wpforms-error {
	position: absolute !important;
}

.wpforms-confirmation-container-full,
div[submit-success] > .wpforms-confirmation-container-full:not(.wpforms-redirection-message) {
	@apply border-success-900 #{!important};
	@apply bg-success-900 #{!important};
	@apply text-white #{!important};
}

/* purgecss end ignore */
