/*
Header
*/

/* purgecss start ignore */
header {
	.hamburglar {
		// transition: margin-top 400ms;
		margin-top: 12px;
	}
	.main-logo {
		transition: width 400ms;
		width: 90px;
		@screen md {
			width: 120px;
		}
	}
	.navbar-main {
		transition: padding 400ms;
		padding: 12px 32px;
		a {
			visibility: visible;
		}
	}
	&.active {
		.hamburglar {
			// margin-top: 5px;
		}
		.main-logo {
			width: 90px;
		}
		.navbar-main {
			padding: 4px 16px 6px;
			a {
				visibility: hidden;
			}
			li {
				border: none;
			}
		}
	}
}

/* purgecss end ignore */
