/*
Header
*/

/* purgecss start ignore */
header {
	.hamburglar {
		transition: margin-top 500ms;
		margin-top: 12px;
	}
	.main-logo {
		transition: width 500ms;
		width: 120px;
	}
	.navbar-main {
		transition: padding 500ms;
		padding: 12px 32px;
		a {
			transition: visability 500ms;
			visibility: visible;
		}
	}
	&.active {
		.hamburglar {
			margin-top: 5px;
		}
		.main-logo {
			width: 90px;
		}
		.navbar-main {
			padding: 4px 16px 6px;
			a {
				visibility: hidden;
			}
		}
	}
}

/* purgecss end ignore */
