// Image Effects
/* purgecss start ignore */
.image-zoom {
	@apply relative flex justify-center items-center w-full h-full overflow-hidden;
}

.zoom-text {
	@apply right-0 bottom-0 left-0 absolute opacity-0 font-black text-mellow-400 text-4xl text-center scale-125 transition-all duration-300 ease-in-out transform;
}

.zoom-image {
	@apply absolute bg-cover bg-center w-full h-full scale-100 transition-all duration-500 ease-in-out transform;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.image-zoom:hover .zoom-image {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	@apply scale-110;
}
.image-zoom:hover .zoom-text {
	@apply bg-gray-900 opacity-100 p-4 scale-100;
}

.gray-logos div img {
	@apply grayscale filter;
	&:hover {
		@apply grayscale-0;
	}
}

.js-slidein {
	opacity: 0;
	transform: translateY(90px);
	-webkit-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}

.js-slidein-2 {
	opacity: 0;
	transform: translateY(90px);
	-webkit-transition: all 500ms ease-in-out 100ms;
	transition: all 500ms ease-in-out 100ms;
}
.js-slidein-3 {
	opacity: 0;
	transform: translateY(90px);
	-webkit-transition: all 500ms ease-in-out 200ms;
	transition: all 500ms ease-in-out 200ms;
}
.js-slidein-4 {
	opacity: 0;
	transform: translateY(90px);
	-webkit-transition: all 500ms ease-in-out 300ms;
	transition: all 500ms ease-in-out 300ms;
}

.js-slidein-visible {
	opacity: 1 !important;
	transform: translateY(0) !important;
}

/* purgecss end ignore */
